html {
    scroll-behavior: smooth;
}
.contactus-banner{
    display: flex;
    justify-content: flex-end;
    background-image: url('./../assets/laptop.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    width: 100%;
    font-family: "PT Sans", sans-serif;
}

.modal-content {
    border-style: inherit;
    background-color: white;
    border: white solid;
    border-radius: 5px;
    margin: 45px 20px;
    width: 400px;
    padding: 30px;
}

.modal-content h3{
    margin-top: 8px;
    margin-bottom:12px
}
.modal-content h2{
    margin-top:15px
}
.modal-content p{
    margin-bottom:10px;
    margin-top:18px;
    font-size:14px;
}
.btn-submit { 
    background-color: #51adee;
    padding: 8px 16px; 
    border: 1px solid; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease;
    color: white;
    margin-left:73px
} 
.btn-submit:hover{
    color: #1581cd;
    background-color: white;
    border:#1581cd solid 1px;
}

.form-container label,input,button{
    margin:8px
}