.footer-container.temp-container {
    background-color: #51adee;
    color: white;
    padding: 30px 60px;
}
.footer-social-link-container ul{
    display: flex;
}

.footer-social-link-container ul li{
    list-style: none;
    margin: 0 20px;
}

.logo-top-branding-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-logo-container {
    display: flex;
    align-items: center;
}
.footer-brand-heading {
	font-size: 35px;
	color: white;
	letter-spacing: 1px;
	font-weight: 300;
}
.footer-social-link-container ul li > * {
    font-size: 24px;
}
.footer-social-link {
    color: #fff;
    transition: all 200ms ease; 
}
.footer-social-link:hover {
    color: #1581cd;
}
.footer-copy-section {
    border-top: 1px solid white;
    margin-top: 30px;
    padding-top: 10px;
}