.main-header {
    background-color: #51adee;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}
.header-logo-container h1 {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: white;
    margin: 0;
}
.header-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-nav-container {
    display: flex;
    justify-content: space-between;
    
}
.header-login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-size: 17px;
    transition: all 200ms ease;
}
.header-container a:hover {
    color: #1581cd;
    /* text-decoration: underline; */
}
.header-logo-container img {
    width: 80px;
}
.header-login-container a {
    background-color: white;
    color: #51adee;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 16px;
    border: 2px solid white;
    transition: all 200ms ease;
    margin: 0 10px;
}
.header-login-container a:hover {
    background-color: #51adee;
    color: white;
    border: 2px solid white;
}

.mobile-nav-container{
    display: flex;
    flex-direction: column;
    
}

@media screen and (max-width: 1255px) {
    .main-header{
    padding: 20px;
    }   
}

@media screen and (max-width: 1000px) {
    .header-container{
        flex-direction: column;
        padding-top: 0%;
    }
    .header-nav-container{
        margin: 20px 0;
        flex-direction: column;
        display: none;
    }
    .main-header{
        padding: 0;
    }
}

@media screen and (min-width:999px) {
    .mobile-nav-container{
        flex-direction: column;
        display: none;
    }   
}
